In [1]:
""""
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

#Question 1 How many flights were there from JFK to SLC? Int
q_1 
#Question 2 How many airlines fly to SLC? Should be int
q_2 
#Question 3 What is the average arrival delay for flights to RDU? float
q_3
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
q_4 
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
q_5 
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
q_6 
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
q_7
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8 
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
q_9 
#Question 10 What was the mean for humidity in February? Float
q_10
#Question 11 What was the std for humidity in February? Float
q_11
"""
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

flights_data = pd.read_csv(r'/Applications/Python 3.10/flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv(r'/Applications/Python 3.10/weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [2]:
#q_1 How many flights were there from JFK to SLC? Int
#print(flights_data.columns) to determine the column headings
#flights_data[['origin','dest']] to filter by conditional columns
filt_1 = flights_data.loc[(flights_data['origin']=="JFK") & (flights_data['dest']=="SLC")]   #creates a new df with condition
q_1 = filt_1.shape[0]  #counts the number of rows in the table
print(q_1)

2113

In [3]:
#q_2 How many airlines fly to SLC? Should be int
#filt_2 = 
filt_2 = flights_data.loc[flights_data['dest']=="SLC"]
#print(filt_2)
#filt_2[['carrier']]
f_2a = filt_2.groupby('carrier')  #Groups by 'carrier' which is the column for airline companies
f_2b = f_2a.first()    #calls the first record in each group and creates a new df
q_2 = f_2b.shape[0]   #counts the number of rows in the table
print(q_2)

2

In [4]:
#q_3 What is the average arrival delay for flights to RDU? float
filt_3 = flights_data.loc[flights_data['dest']=="RDU"]
#filt_3 = flights_data.groupby(['arr_delay'])
#print(filt_3)
filt_3a = filt_3.dropna(subset=['arr_delay'])   #drops all rows with NaN in the 'arr_delay' column
#print(filt_3a)
q_3 = filt_3a['arr_delay'].mean()   #calculates the average of the arrival delay
print(q_3)

10.052380952380952

In [5]:
#q_4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
filt_4 = flights_data.loc[flights_data['dest']=="SEA"]  #filter by arrivals to SEA
q_total = filt_4.shape[0]     #Count total number of rows
filt_4a = filt_4.loc[(filt_4['origin']==("LGA")) | (filt_4['origin']==("JFK"))]   #filter by arrivals from LGA or JFK
q_num = filt_4a.shape[0]    #Count of arrivals from LGA or JFK
print(q_num/q_total)

0.5332653581442773

In [6]:
#q_5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
filt_5 = flights_data
filt_5a = filt_5.dropna(subset=['year', 'month', 'day'])
#print(filt_5a.dtypes)
filt_5a['year'] = filt_5a['year'].apply(str)
filt_5a['month'] = filt_5a['month'].apply(str)
filt_5a['day'] = filt_5a['day'].apply(str)
filt_5a['date'] = filt_5a[['year', 'month', 'day']].agg("/".join, axis=1)
#filt_5a.head(5)
filt_5b = filt_5a.dropna(subset=['dep_delay'])   #remove NaN from 'dep_delay' column
#print(filt_5b)
#filt_5b['dep_delay'].mean()
filt_5b = filt_5b.groupby(['date']).mean().sort_values('dep_delay', ascending=False)    #the error is referencing other columns that may be missing data but I did not want to exclude them from the analysis.
print(filt_5b['dep_delay'].iloc[:1])    #slicing method to output first row of df for column 'dep_delay'
#q_5 = filt_5b.iloc[0]
#print(q_5)

#print(q_5, filt_5b['dep_delay'].iat[0])

date
2013/3/8    83.536921
Name: dep_delay, dtype: float64

/var/folders/ln/q3gb8n6n3dvcl5ylb14df9600000gn/T/ipykernel_9017/2868288395.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  filt_5b = filt_5b.groupby(['date']).mean().sort_values('dep_delay', ascending=False)    #the error is referencing other columns that may be missing data but I did not want to exclude them from the analysis.

In [7]:
#q_6 Which date has the largest average arrival delay? pd slice with date and float
filt_6 = flights_data
filt_6a = filt_6.dropna(subset=['year', 'month', 'day'])
#print(filt_6a.dtypes)
filt_6a['year'] = filt_6a['year'].apply(str)
filt_6a['month'] = filt_6a['month'].apply(str)
filt_6a['day'] = filt_6a['day'].apply(str)
filt_6a['date'] = filt_6a[['year', 'month', 'day']].agg("/".join, axis=1)
#filt_6a.head(5)
filt_6b = filt_6a.dropna(subset=['arr_delay'])   #remove NaN from 'arr_delay' column
#print(filt_6b)
#filt_6b['dep_delay'].mean()
filt_6b = filt_6b.groupby(['date']).mean().sort_values('arr_delay', ascending=False)    #the error is referencing other columns that may be missing data but I did not want to exclude them from the analysis.
#filt_6b.head(5)
print(filt_6b['arr_delay'].iloc[:1])    #slicing method to output first row of df for column 'arr_delay'

date
2013/3/8    85.862155
Name: arr_delay, dtype: float64

/var/folders/ln/q3gb8n6n3dvcl5ylb14df9600000gn/T/ipykernel_9017/2575995137.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  filt_6b = filt_6b.groupby(['date']).mean().sort_values('arr_delay', ascending=False)    #the error is referencing other columns that may be missing data but I did not want to exclude them from the analysis.

In [23]:
#q_7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
filt_7 = flights_data
#print(flights_data)
#print(filt_7)
filt_7a = filt_7.loc[(filt_7['origin']==("LGA")) | (filt_7['origin']==("JFK"))]   #filtering by LGA or JFK departures and creating new df
#print(filt_7a)
filt_7b = filt_7a.dropna(subset=['distance', 'tailnum', 'air_time'])   #remove NaN from the columns that will be analyzed
filt_7b.loc[:,'speed'] = (filt_7b['distance'].div(filt_7b['air_time'].values))
filt_7c = filt_7b.sort_values('speed', ascending=False)
#filt_7c.head(5)
print(filt_7c['tailnum'].iloc[:1], filt_7c['speed'].iloc[:1])   #Prints tailnumber and speed
#print(filt_7c)

216447    N666DN
Name: tailnum, dtype: object 216447    11.723077
Name: speed, dtype: float64

/var/folders/ln/q3gb8n6n3dvcl5ylb14df9600000gn/T/ipykernel_9017/3665873830.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filt_7b.loc[:,'speed'] = (filt_7b['distance'].div(filt_7b['air_time'].values))

In [42]:
#q_8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd.head(10)   #output first 10 rows
q_8 = weather_data_pd.fillna(0)   #replaces all NaN with 0
q_8

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [43]:
#q_9 How many observations were made in Feburary? Int
q9_np = q_8.to_numpy()
month = [row[3] for row in q9_np]  #Creates an array from the month column
month = np.array(month, int)    #Converts data type to integer from float for numpy list analysis
#print(month)
#len(month)
q_9 = month[np.in1d(month, [2])]   #Creates an array for only February [2] observations
#print(q_9)  
len(q_9)    #Number of February observations

671

In [54]:
#q_10 What was the mean for humidity in February? Float
#print(q_8)
Febflights = []
Febflights = q_8.loc[q_8['month']==2.0]   #Created Feb subset first with pandas
#print(Febflights)
q10_np = Febflights.to_numpy()
#month = [row[3] for row in q10_np]  #Creates an array from the month column
h = [row[8] for row in q10_np]   #Creates and array from humid column
#print(humid)
len(h)
q_10 = np.mean(h)   #Outputs the mean for Feb humidities
q_10

62.91815201192251

In [56]:
#q_11 What was the std for humidity in February? Float
#print(q_8)
Febflights = []
Febflights = q_8.loc[q_8['month']==2.0]   #Created Feb subset first with pandas
#print(Febflights)
q10_np = Febflights.to_numpy()
#month = [row[3] for row in q10_np]  #Creates an array from the month column
h = [row[8] for row in q10_np]   #Creates and array from humid column
#print(humid)
len(h)
q_11 = np.std(h)   #Outputs the mean for Feb humidities
q_11

20.33690087674334